/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */
 @import "bootstrap";
.form_signin {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
  }

  .form_signin .form_control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .form_signin .form_control:focus {
    z-index: 2;
  }

  .form_signin input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }

 .menu-item {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   margin: 0 15px;
  }