/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */
 @import "bootstrap";

 .menu-item {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   margin: 0 15px;
  }

  .menu-item:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 15px;
   }

   #login-form input[type=text], #create-user-form input[type=text]{
    width: 100%;
    padding: 10px 6px;
    border: solid 1px #ccc;
  }

  #session_controls {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  
  }

  .grid-container {
    display: inline-grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }